<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <div id="box">
      <div v-for="item in arr">{{$index}}.{{item}}</div>
      <ul>
          <li v-for="v in obj">{{$key}},{{v}}</li>
      </ul>
      <h1>对象循环的第二种方法</h1>
      <ul>
          <li v-for="(k,v) in obj">{{k}},{{v}}</li>
      </ul>
    </div>
    <!-- $index 是vue获取数组下标的方法-->
    <script src="../js/vue.js"></script>
    <script type="text/javascript">
        new Vue({
            el:"#box",
            data:{
                arr:["apple","banana","pear","orange"],
                obj:{name:"lilei",age:18,job:"IT"}
            }
        })
    </script>
</body>
</html>